BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never

BreakBeforeBraces: Attach
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: InlineOnly

ColumnLimit: 120
AccessModifierOffset: -4
IndentCaseLabels: true
